/** lik indicado por Wenting Zhang: http://cssicon.space/ */
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin: 4rem;
}

.fill { /** o gradiente é incorporado ao texto **/
    /* Background - Gradiente */
    background: -webkit-linear-gradient(left, #555 0%, #ff4f0f 100%);
    background: linear-gradient(to right, #555 0%, #ff4f0f 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.back-image { /** a imagem é incorporada ao texto **/
    /* Background - Gradiente */
    background-image: url('../img/cold-ice.jpg');
    background-size: contain;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/** Código de testes de CSS
Keyboard colorido : keyboard colored */

.keyboard.icon::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    box-shadow: 
        -2px 0 0 -1px black,
        2px 0 0 -1px red,
        0 -2px 0 -1px green,
        0 2px 0 -1px blue,
        -6px 0 0 -1px yellow,
        6px 0 0 -1px green,
        -4px -2px 0 -1px blue,
        -4px 2px 0 -1px orange,
        4px 2px 0 -1 purple;
}

/** border-radius definidas individualmente */
.borders {
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 0;
    border-left: solid 15px yellow;
    border-right: solid 30px yellow;
    border-bottom: solid 30px green;
}

.borders2 {
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 100px;
    border-left: solid 15px yellow;
    border-right: solid 30px yellow;
    border-bottom: solid 30px green;
}

/** construindo um bigode (mustache)
Apresentação de Wenting Zhang na dotCSS2016
https://www.youtube.com/watch?v=Y0_FMCji3iE */
.mustache {
    width: 180px;
    height: 180px;
    left: 100px;
    border-radius: 50%;
    position: absolute;
    color: black;
    box-shadow: 
        150px 240px 0 0 currentColor,
        300px 240px 0 0 currentColor;
}

.mustache::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    background-color: red;
    border-radius: 0 0 0 100%;
    transform: rotate(-40deg);
    transform-origin: right 210px;
}

.mustache::after {
    content: "";
    position: absolute;
    left: 390px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    background-color: red;
    border-radius: 0 0 100% 0;
    transform: rotate(40deg);
    transform-origin: left 210px;
}